/* html, body */
html,
body {
    background: #fff;
}

/* default */
* {
    text-align: center;
    font-family: Arial, Tahoma, Verdana;
    font-size: 100%;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    background: ##dedede;
}

a {
    color: #000;
    text-decoration: none;
    transition: color 500ms;
}

a:hover {
    color: #fc4f59;
}

b,
strong {
    font-weight: 600;
}

h1,
h2 {
    display: table;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 12px;
    border-bottom: 10px solid #fc4f59;
    margin-bottom: 40px !important;
}

h1.centered,
h2 {
    margin: auto;
}

h3 {
    display: table;
    color: #000;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 10px solid #fc4f59;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

h4 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main {
    padding: 10px;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}

#gridContainer {
    display: grid;
    align-items: center;
    justify-content: stretch;
    margin-top: 25px;
    margin-bottom: 70px;
    grid-template-columns: 225px 225px 225px 225px;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    padding-top: 31px;
    padding-bottom: 30px;
    padding-left: 28px;
    padding-right: 28px;
}

.userBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
}

.img {
    width: 225px;
    height: 225px;
    border: 1px solid;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;

    -webkit-filter: contrast(3) saturate(4) sepia(0.6) opacity(6);
    filter: contrast(1.5) saturate(3) sepia(0.6) opacity(6);
}

.img:hover {
    border-color: #fc4f59;
    filter: none;
    -webkit-filter: none;
}

.imgTitle {
    font-style: italic;
}

input {
    color: #000;
    font-size: 0.9em;
    background: none;
    text-align: center;
    padding: 5px 10px 5px 5px;
    border: 1px solid #000;
    margin: 0 10px 10px 0;
    transition: all 500ms;
}

.bg-pan-left {
    -webkit-animation: bg-pan-left 8s both;
    animation: bg-pan-left 8s both;
}
.btn {
    color: #000;
    font-family: Arial, Tahoma, Verdana;
    font-size: 0.9em;
    background: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: 1px solid #000;
    margin: 0 10px 10px 0;
    transition: all 500ms;
}

.cta {
    color: #fff;
    font-family: Arial, Tahoma, Verdana;
    font-size: 0.9em;
    background: #fc4f59;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px 5px 5px;
    border: 1px solid #000;
    margin: 0 10px 10px 0;
    transition: all 500ms;
}

.cta:hover {
    color: #fc4f59;
    border: 1px solid #fc4f59;
    background: #fff;
}

.name:hover {
    color: #fff;
    border: 1px solid #fc4f59;
    background: #fc4f59;
}

.btn:hover {
    color: #fff;
    border: 1px solid #fc4f59;
    background: #fc4f59;
}

#closeModal {
    cursor: pointer;
}
#commentsContainer {
    margin-right: 20px;
    margin-left: 20px;
}

#containerModal {
    max-height: calc(100% - 150px);
    width: calc(100% - 300px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    padding: 20px;
    border: #fc4f59 solid 1px;
    background-color: #fff;
}

#commentBox {
    flex: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 480px;
    border: 1px solid #000;
}

#commentBox .p1 {
    font-style: italic;
}

#commentBox .p2 {
    font-weight: bold;
}

#commentBox .p3 {
    font-weight: normal;
}

.form {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

#imgModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* width: 400px;
    height: 400px; */
}

#imgModal img {
    border: 1px solid;
    min-width: 200px;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    cursor: pointer;
    #-webkit-filter: contrast(3) saturate(4) sepia(0.6) opacity(6);
    filter: contrast(1.5) saturate(3) sepia(0.6) opacity(6);
}

#imgModal img:hover {
    /* cursor: pointer; */
    filter: none;
    border-color: #000;
}

.roll-in-blurred-left {
    -webkit-animation: roll-in-blurred-left 1.65s cubic-bezier(0.23, 1, 0.32, 1)
        both;
    animation: roll-in-blurred-left 1.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@media screen and (min-width: 760px) and (max-width: 900px) {
    #gridContainer {
        grid-template-columns: 225px 225px 225px;
    }
}

@media screen and (min-width: 500px) and (max-width: 760px) {
    #gridContainer {
        grid-template-columns: 225px 225px;
    }
    #containerModal {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    #gridContainer {
        grid-template-columns: 225px;
    }
    #containerModal {
        flex-direction: column;
    }
    #imgModal img {
        min-width: none;
    }
}

.profileContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.profilePicBox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 5%;
}

.profilePicBox img {
    max-width: 80px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
}

.uploaderModal {
    background: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 200px;
    width: 400px;
    position: fixed;
    left: 34%;
    top: 11%;
    z-index: 9;
    border: 1px solid orange;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-9-5 16:11:15
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
        transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes roll-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
        transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-5 16:18:50
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */
@-webkit-keyframes bg-pan-left {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes bg-pan-left {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
